data/1d/BTC_USDT_1d_100.csv
data/1d/BTC_USDT_1d_111.csv
data/1d/ETH_USDT_1d_111.csv
data/4h/1INCH_BUSD_4h_111.csv
data/4h/AAVE_BUSD_4h_111.csv
data/4h/ACH_BUSD_4h_111.csv
data/4h/ACM_BUSD_4h_111.csv
data/4h/ADA_BUSD_4h_111.csv
data/4h/ADX_BUSD_4h_111.csv
data/4h/AERGO_BUSD_4h_111.csv
data/4h/AGLD_BUSD_4h_111.csv
data/4h/AION_BUSD_4h_111.csv
data/4h/ALCX_BUSD_4h_111.csv
data/4h/ALGO_BUSD_4h_111.csv
data/4h/ALICE_BUSD_4h_111.csv
data/4h/ALPACA_BUSD_4h_111.csv
data/4h/ALPHA_BUSD_4h_111.csv
data/4h/AMP_BUSD_4h_111.csv
data/4h/ANKR_BUSD_4h_111.csv
data/4h/ANT_BUSD_4h_111.csv
data/4h/ANY_BUSD_4h_111.csv
data/4h/AR_BUSD_4h_111.csv
data/4h/ARPA_BUSD_4h_111.csv
data/4h/ATA_BUSD_4h_111.csv
data/4h/ATM_BUSD_4h_111.csv
data/4h/ATOM_BUSD_4h_111.csv
data/4h/AUCTION_BUSD_4h_111.csv
data/4h/AUTO_BUSD_4h_111.csv
data/4h/AVA_BUSD_4h_111.csv
data/4h/AVAX_BUSD_4h_111.csv
data/4h/AXS_BUSD_4h_111.csv
data/4h/BADGER_BUSD_4h_111.csv
data/4h/BAKE_BUSD_4h_111.csv
data/4h/BAL_BUSD_4h_111.csv
data/4h/BAND_BUSD_4h_111.csv
data/4h/BAR_BUSD_4h_111.csv
data/4h/BAT_BUSD_4h_111.csv
data/4h/BCH_BUSD_4h_111.csv
data/4h/BCHA_BUSD_4h_111.csv
data/4h/BEL_BUSD_4h_111.csv
data/4h/BETA_BUSD_4h_111.csv
data/4h/BICO_BUSD_4h_111.csv
data/4h/BIFI_BUSD_4h_111.csv
data/4h/BLZ_BUSD_4h_111.csv
data/4h/BNB_BUSD_4h_111.csv
data/4h/BNT_BUSD_4h_111.csv
data/4h/BNX_BUSD_4h_111.csv
data/4h/BOND_BUSD_4h_111.csv
data/4h/BOT_BUSD_4h_111.csv
data/4h/BTC_BUSD_4h_111.csv
data/4h/BTCST_BUSD_4h_111.csv
data/4h/BTG_BUSD_4h_111.csv
data/4h/BTS_BUSD_4h_111.csv
data/4h/BTT_BUSD_4h_111.csv
data/4h/BURGER_BUSD_4h_111.csv
data/4h/BZRX_BUSD_4h_111.csv
data/4h/C98_BUSD_4h_111.csv
data/4h/CAKE_BUSD_4h_111.csv
data/4h/CELO_BUSD_4h_111.csv
data/4h/CELR_BUSD_4h_111.csv
data/4h/CFX_BUSD_4h_111.csv
data/4h/CHESS_BUSD_4h_111.csv
data/4h/CHR_BUSD_4h_111.csv
data/4h/CHZ_BUSD_4h_111.csv
data/4h/CITY_BUSD_4h_111.csv
data/4h/CKB_BUSD_4h_111.csv
data/4h/CLV_BUSD_4h_111.csv
data/4h/COCOS_BUSD_4h_111.csv
data/4h/COMP_BUSD_4h_111.csv
data/4h/COS_BUSD_4h_111.csv
data/4h/COTI_BUSD_4h_111.csv
data/4h/COVER_BUSD_4h_111.csv
data/4h/CREAM_BUSD_4h_111.csv
data/4h/CRV_BUSD_4h_111.csv
data/4h/CTK_BUSD_4h_111.csv
data/4h/CTSI_BUSD_4h_111.csv
data/4h/CTXC_BUSD_4h_111.csv
data/4h/CVP_BUSD_4h_111.csv
data/4h/CVX_BUSD_4h_111.csv
data/4h/DAR_BUSD_4h_111.csv
data/4h/DASH_BUSD_4h_111.csv
data/4h/DATA_BUSD_4h_111.csv
data/4h/DCR_BUSD_4h_111.csv
data/4h/DEGO_BUSD_4h_111.csv
data/4h/DENT_BUSD_4h_111.csv
data/4h/DEXE_BUSD_4h_111.csv
data/4h/DF_BUSD_4h_111.csv
data/4h/DGB_BUSD_4h_111.csv
data/4h/DIA_BUSD_4h_111.csv
data/4h/DNT_BUSD_4h_111.csv
data/4h/DOCK_BUSD_4h_111.csv
data/4h/DODO_BUSD_4h_111.csv
data/4h/DOGE_BUSD_4h_111.csv
data/4h/DOT_BUSD_4h_111.csv
data/4h/DUSK_BUSD_4h_111.csv
data/4h/DYDX_BUSD_4h_111.csv
data/4h/EGLD_BUSD_4h_111.csv
data/4h/ELF_BUSD_4h_111.csv
data/4h/ENJ_BUSD_4h_111.csv
data/4h/ENS_BUSD_4h_111.csv
data/4h/EOS_BUSD_4h_111.csv
data/4h/EPS_BUSD_4h_111.csv
data/4h/ERD_BUSD_4h_111.csv
data/4h/ERN_BUSD_4h_111.csv
data/4h/ETC_BUSD_4h_111.csv
data/4h/ETH_USDT_4h_111.csv
data/4h/FARM_BUSD_4h_111.csv
data/4h/FET_BUSD_4h_111.csv
data/4h/FIDA_BUSD_4h_111.csv
data/4h/FIL_BUSD_4h_111.csv
data/4h/FIO_BUSD_4h_111.csv
data/4h/FIS_BUSD_4h_111.csv
data/4h/FLM_BUSD_4h_111.csv
data/4h/FLOW_BUSD_4h_111.csv
data/4h/FLUX_BUSD_4h_111.csv
data/4h/FOR_BUSD_4h_111.csv
data/4h/FORTH_BUSD_4h_111.csv
data/4h/FRONT_BUSD_4h_111.csv
data/4h/FTM_BUSD_4h_111.csv
data/4h/FTT_BUSD_4h_111.csv
data/4h/FXS_BUSD_4h_111.csv
data/4h/GALA_BUSD_4h_111.csv
data/4h/GHST_BUSD_4h_111.csv
data/4h/GLMR_BUSD_4h_111.csv
data/4h/GNO_BUSD_4h_111.csv
data/4h/GRT_BUSD_4h_111.csv
data/4h/GTC_BUSD_4h_111.csv
data/4h/HARD_BUSD_4h_111.csv
data/4h/HBAR_BUSD_4h_111.csv
data/4h/HEGIC_BUSD_4h_111.csv
data/4h/HIGH_BUSD_4h_111.csv
data/4h/HIVE_BUSD_4h_111.csv
data/4h/HNT_BUSD_4h_111.csv
data/4h/HOT_BUSD_4h_111.csv
data/4h/ICP_BUSD_4h_111.csv
data/4h/ICX_BUSD_4h_111.csv
data/4h/IDEX_BUSD_4h_111.csv
data/4h/ILV_BUSD_4h_111.csv
data/4h/IMX_BUSD_4h_111.csv
data/4h/INJ_BUSD_4h_111.csv
data/4h/IOST_BUSD_4h_111.csv
data/4h/IOTA_BUSD_4h_111.csv
data/4h/IOTX_BUSD_4h_111.csv
data/4h/IQ_BUSD_4h_111.csv
data/4h/IRIS_BUSD_4h_111.csv
data/4h/JASMY_BUSD_4h_111.csv
data/4h/JOE_BUSD_4h_111.csv
data/4h/JST_BUSD_4h_111.csv
data/4h/JUV_BUSD_4h_111.csv
data/4h/KAVA_BUSD_4h_111.csv
data/4h/KEEP_BUSD_4h_111.csv
data/4h/KLAY_BUSD_4h_111.csv
data/4h/KMD_BUSD_4h_111.csv
data/4h/KNC_BUSD_4h_111.csv
data/4h/KP3R_BUSD_4h_111.csv
data/4h/KSM_BUSD_4h_111.csv
data/4h/LAZIO_BUSD_4h_111.csv
data/4h/LEND_BUSD_4h_111.csv
data/4h/LINA_BUSD_4h_111.csv
data/4h/LINK_BUSD_4h_111.csv
data/4h/LIT_BUSD_4h_111.csv
data/4h/LPT_BUSD_4h_111.csv
data/4h/LRC_BUSD_4h_111.csv
data/4h/LSK_BUSD_4h_111.csv
data/4h/LTC_BUSD_4h_111.csv
data/4h/LTO_BUSD_4h_111.csv
data/4h/LUNA_BUSD_4h_111.csv
data/4h/MANA_BUSD_4h_111.csv
data/4h/MASK_BUSD_4h_111.csv
data/4h/MATIC_BUSD_4h_111.csv
data/4h/MBOX_BUSD_4h_111.csv
data/4h/MC_BUSD_4h_111.csv
data/4h/MDT_BUSD_4h_111.csv
data/4h/MDX_BUSD_4h_111.csv
data/4h/MINA_BUSD_4h_111.csv
data/4h/MIR_BUSD_4h_111.csv
data/4h/MKR_BUSD_4h_111.csv
data/4h/MLN_BUSD_4h_111.csv
data/4h/MOVR_BUSD_4h_111.csv
data/4h/MTL_BUSD_4h_111.csv
data/4h/NANO_BUSD_4h_111.csv
data/4h/NEAR_BUSD_4h_111.csv
data/4h/NEO_BUSD_4h_111.csv
data/4h/NMR_BUSD_4h_111.csv
data/4h/NU_BUSD_4h_111.csv
data/4h/NULS_BUSD_4h_111.csv
data/4h/OCEAN_BUSD_4h_111.csv
data/4h/OGN_BUSD_4h_111.csv
data/4h/OM_BUSD_4h_111.csv
data/4h/OMG_BUSD_4h_111.csv
data/4h/ONE_BUSD_4h_111.csv
data/4h/ONT_BUSD_4h_111.csv
data/4h/OOKI_BUSD_4h_111.csv
data/4h/ORN_BUSD_4h_111.csv
data/4h/OXT_BUSD_4h_111.csv
data/4h/PEOPLE_BUSD_4h_111.csv
data/4h/PERP_BUSD_4h_111.csv
data/4h/PHA_BUSD_4h_111.csv
data/4h/PLA_BUSD_4h_111.csv
data/4h/POLS_BUSD_4h_111.csv
data/4h/POLY_BUSD_4h_111.csv
data/4h/POND_BUSD_4h_111.csv
data/4h/POWR_BUSD_4h_111.csv
data/4h/PROM_BUSD_4h_111.csv
data/4h/PSG_BUSD_4h_111.csv
data/4h/PYR_BUSD_4h_111.csv
data/4h/QI_BUSD_4h_111.csv
data/4h/QNT_BUSD_4h_111.csv
data/4h/QTUM_BUSD_4h_111.csv
data/4h/QUICK_BUSD_4h_111.csv
data/4h/RAD_BUSD_4h_111.csv
data/4h/RAMP_BUSD_4h_111.csv
data/4h/RARE_BUSD_4h_111.csv
data/4h/RAY_BUSD_4h_111.csv
data/4h/REEF_BUSD_4h_111.csv
data/4h/REN_BUSD_4h_111.csv
data/4h/REP_BUSD_4h_111.csv
data/4h/REQ_BUSD_4h_111.csv
data/4h/RGT_BUSD_4h_111.csv
data/4h/RLC_BUSD_4h_111.csv
data/4h/RNDR_BUSD_4h_111.csv
data/4h/ROSE_BUSD_4h_111.csv
data/4h/RSR_BUSD_4h_111.csv
data/4h/RUNE_BUSD_4h_111.csv
data/4h/RVN_BUSD_4h_111.csv
data/4h/SAND_BUSD_4h_111.csv
data/4h/SC_BUSD_4h_111.csv
data/4h/SCRT_BUSD_4h_111.csv
data/4h/SFP_BUSD_4h_111.csv
data/4h/SHIB_BUSD_4h_111.csv
data/4h/SKL_BUSD_4h_111.csv
data/4h/SLP_BUSD_4h_111.csv
data/4h/SNX_BUSD_4h_111.csv
data/4h/SOL_BUSD_4h_111.csv
data/4h/SPELL_BUSD_4h_111.csv
data/4h/SRM_BUSD_4h_111.csv
data/4h/STMX_BUSD_4h_111.csv
data/4h/STORJ_BUSD_4h_111.csv
data/4h/STPT_BUSD_4h_111.csv
data/4h/STRAT_BUSD_4h_111.csv
data/4h/STRAX_BUSD_4h_111.csv
data/4h/STX_BUSD_4h_111.csv
data/4h/SUN_BUSD_4h_111.csv
data/4h/SUPER_BUSD_4h_111.csv
data/4h/SUSHI_BUSD_4h_111.csv
data/4h/SWRV_BUSD_4h_111.csv
data/4h/SXP_BUSD_4h_111.csv
data/4h/SYS_BUSD_4h_111.csv
data/4h/THETA_BUSD_4h_111.csv
data/4h/TKO_BUSD_4h_111.csv
data/4h/TLM_BUSD_4h_111.csv
data/4h/TOMO_BUSD_4h_111.csv
data/4h/TORN_BUSD_4h_111.csv
data/4h/TRB_BUSD_4h_111.csv
data/4h/TRIBE_BUSD_4h_111.csv
data/4h/TROY_BUSD_4h_111.csv
data/4h/TRU_BUSD_4h_111.csv
data/4h/TRX_BUSD_4h_111.csv
data/4h/TVK_BUSD_4h_111.csv
data/4h/TWT_BUSD_4h_111.csv
data/4h/UFT_BUSD_4h_111.csv
data/4h/UNFI_BUSD_4h_111.csv
data/4h/UNI_BUSD_4h_111.csv
data/4h/UTK_BUSD_4h_111.csv
data/4h/VET_BUSD_4h_111.csv
data/4h/VIDT_BUSD_4h_111.csv
data/4h/VOXEL_BUSD_4h_111.csv
data/4h/VTHO_BUSD_4h_111.csv
data/4h/WAVES_BUSD_4h_111.csv
data/4h/WAXP_BUSD_4h_111.csv
data/4h/WIN_BUSD_4h_111.csv
data/4h/WING_BUSD_4h_111.csv
data/4h/WNXM_BUSD_4h_111.csv
data/4h/WRX_BUSD_4h_111.csv
data/4h/XEC_BUSD_4h_111.csv
data/4h/XEM_BUSD_4h_111.csv
data/4h/XLM_BUSD_4h_111.csv
data/4h/XMR_BUSD_4h_111.csv
data/4h/XRP_BUSD_4h_111.csv
data/4h/XTZ_BUSD_4h_111.csv
data/4h/XVG_BUSD_4h_111.csv
data/4h/XVS_BUSD_4h_111.csv
data/4h/YFI_BUSD_4h_111.csv
data/4h/YFII_BUSD_4h_111.csv
data/4h/YGG_BUSD_4h_111.csv
data/4h/ZEC_BUSD_4h_111.csv
data/4h/ZEN_BUSD_4h_111.csv
data/4h/ZIL_BUSD_4h_111.csv
data/4h/ZRX_BUSD_4h_111.csv
